fastapi
uvicorn[standard]
openai-whisper
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
torch
torchaudio
moviepy
ollama
python-dotenv
pydantic
opencv-python
mediapipe
tensorflow
numpy
h5py
scikit-learn
websockets